# Hypothyroidism Prediction

Overview 

Nairobi Hospital conducted a clinical camp to test for hypothyroidism. The data collected focused on Thyroid patients. Use the healthcare datasets provided to accomplish the following:  

Build a model that determines whether or not the patient's symptoms indicate that the patient has hypothyroid.

Part 1: Decision trees:
- For this section, you should build a model that makes the above prediction. You should not use individual decision trees, rather you should use at least 2 out of the 3 advanced models we have studied: Random forests, Ada boosted trees, and gradient boosted trees.
- Try and optimize each of the 2 models, making sure to document how you've set up your hyperparameters.
- Identify which of the 2 models you trust most, and use your model to determine which features are most impactful in influencing the prediction
- Note that with decision trees, you don't need to do a lot of data cleaning. This will be very different with SVM.

Part 2: SVM:

- In this section, you may be required to clean the data a little bit so as to make sense of the features.

- Document what transformation you've done on the data.

- Apply Polynomial, linear and rbf kernel function to build your SVM model and then evaluate their performance and pick the kernel that performs the best. Remember to tune your parameters to improve the performance of your model. To make your life easier, make sure to visualize the models you've created. Use any two features to build the models for this step.

Hint: You may want to use decision trees to give you the most preferable features you can use. but also keep in mind that those features might not be suitable for SVM. It might be a good idea to graph them first.

-  After getting your best performing kernel, use this kernel together with your tuned parameters and repeat the prediction but this time using additional features. Compare the model you've just created with the 2-features version.

## Research Question

To build a model that determines whether or not the patient's symptoms indicate that the patient has hypothyroid.

# Metric of success

To be able to identify factors that are most important in identifying hypothyroidism and making predictions with high accuracy scores.

# Understanding the Context

The dataset used in this project was provided by Nairobi Hospital during a clinical camp that was meant to test for hypothyroidism. 

The data collected focused on Thyroid patients.

# Experimental Design

1. Loading the Dataset

2. Exploring the dataset

3. Cleaning the dataset

4. Modelling using Random Forest and Support Vector Machines

5. Testing the accuracy and applicability of the models

6. Recommendation

In [2]:
# importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Loading our data frame
url = "http://bit.ly/hypothyroid_data"

# reading the dataframe
hypo = pd.read_csv(url)

# previewing
hypo.head()

,status,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
0,hypothyroid,72,M,f,f,f,f,f,f,f,...,y,0.60,y,15,y,1.48,y,10,n,?
1,hypothyroid,15,F,t,f,f,f,f,f,f,...,y,1.70,y,19,y,1.13,y,17,n,?
2,hypothyroid,24,M,f,f,f,f,f,f,f,...,y,0.20,y,4,y,1,y,0,n,?
3,hypothyroid,24,F,f,f,f,f,f,f,f,...,y,0.40,y,6,y,1.04,y,6,n,?
4,hypothyroid,77,M,f,f,f,f,f,f,f,...,y,1.20,y,57,y,1.28,y,44,n,?

In [4]:
# checking the number of columns
hypo.shape

# the dataframe has 26 collumns and 3163 rows

(3163, 26)

In [10]:
# checking columns
hypo.columns

Index(['status', 'age', 'sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'thyroid_surgery', 'query_hypothyroid',
       'query_hyperthyroid', 'pregnant', 'sick', 'tumor', 'lithium', 'goitre',
       'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4',
       'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG'],
      dtype='object')

In [9]:
# checking summary statistics
hypo.describe()

,status,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
count,3163,3163,3163,3163,3163,3163,3163,3163,3163,3163,...,3163,3163,3163,3163,3163,3163,3163,3163,3163,3163
unique,2,93,3,2,2,2,2,2,2,2,...,2,70,2,269,2,159,2,281,2,53
top,negative,?,F,f,f,f,f,f,f,f,...,y,?,y,?,y,?,y,?,n,?
freq,3012,446,2182,2702,3108,3121,3059,2922,2920,3100,...,2468,695,2914,249,2915,248,2916,247,2903,2903

In [6]:
# checking for info
hypo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3163 entries, 0 to 3162
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   status                     3163 non-null   object
 1   age                        3163 non-null   object
 2   sex                        3163 non-null   object
 3   on_thyroxine               3163 non-null   object
 4   query_on_thyroxine         3163 non-null   object
 5   on_antithyroid_medication  3163 non-null   object
 6   thyroid_surgery            3163 non-null   object
 7   query_hypothyroid          3163 non-null   object
 8   query_hyperthyroid         3163 non-null   object
 9   pregnant                   3163 non-null   object
 10  sick                       3163 non-null   object
 11  tumor                      3163 non-null   object
 12  lithium                    3163 non-null   object
 13  goitre                     3163 non-null   object
 14  TSH_measured               3163 non-null   object
 15  TSH                        3163 non-null   object
 16  T3_measured                3163 non-null   object
 17  T3                         3163 non-null   object
 18  TT4_measured               3163 non-null   object
 19  TT4                        3163 non-null   object
 20  T4U_measured               3163 non-null   object
 21  T4U                        3163 non-null   object
 22  FTI_measured               3163 non-null   object
 23  FTI                        3163 non-null   object
 24  TBG_measured               3163 non-null   object
 25  TBG                        3163 non-null   object
dtypes: object(26)
memory usage: 642.6+ KB

In [12]:
# checking for duplicates
hypo.duplicated().sum()

# there are 77 duplicated records

77

Target variable: "on_thyroxine"

Patients on thyroxine have thyroid and those that are not on thyroxine do not have thyroid

In [13]:
# checking our target variable
hypo['on_thyroxine'].value_counts()

# f = 2702 people do not have thyroid and t = 461 have thyroid

f    2702
t     461
Name: on_thyroxine, dtype: int64